@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    /* Font Settings */
    --font-display: "Inter", "sans-serif";
    --font-body: "Inter", "sans-serif";

    /* Border Radius (Set default radius menjadi 0.5rem) */
    --radius: 0.5rem;

    /* Color Palette */
    --color-primary: #1e293b; /* Slate 800 */
    --color-secondary: #3b82f6; /* Blue */

    --color-background-light: #f3f4f6; /* Gray 100 */
    --color-background-dark: #0f172a; /* Slate 900 */

    --color-surface-light: #ffffff;
    --color-surface-dark: #1e293b;

    --color-text-light: #1f2937; /* Gray 800 */
    --color-text-dark: #f3f4f6; /* Gray 100 */

    --color-muted-light: #6b7280; /* Gray 500 */
    --color-muted-dark: #9ca3af; /* Gray 400 */

    --color-border-light: #e5e7eb; /* Gray 200 */
    --color-border-dark: #334155; /* Slate 700 */
}

@layer base {
    body {
        /* Menggunakan font-body yang sudah didefinisikan di atas */
        font-family: var(--font-body);

        /* Otomatis set warna background dan text default untuk Light & Dark mode.
           Ini akan menghemat waktu Anda menulis class di setiap halaman.
        */
        @apply bg-background-light text-text-light antialiased;
        @apply dark:bg-background-dark dark:text-text-dark;
    }
}
